
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  scroll-behavior: smooth;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.maincontainer h1{
  margin-top: 50px;
  text-align: center;
  margin-bottom: 0px;
  margin-left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.small-intro{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 60%;
  margin: auto;
  margin-top: 1rem; 
  margin-bottom: 1rem;
}
.creater-names {
  text-align: center;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.author-block {
  text-align: center;
  margin-top: 8px;
  font-size: 1rem;
}

.author-logo {
  height: 20px;
  vertical-align: middle;
  margin-right: 6px;
}

/* adding images */
.addimages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  flex-wrap: wrap;
}

/* Modal container */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

/* Modal content (image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 80vh;
}

/* Caption text */
.modal-caption {
  margin: auto;
  text-align: center;
  color: #ccc;
  padding: 10px;
}

/* Close button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}


.image-container {
  text-align: center;
  width: 100%;
  max-width: 500px;
  padding: 0 10px;
  box-sizing: border-box;
}

.image-container img {
  width: 80%;
  height: auto;
  transition: transform 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.05);
}

.caption {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #444;
  font-style: italic;
}

@media (max-width: 768px) {
  .image-container {
    max-width: 90%; /* reduce width on tablets and phones */
  }

  .addimages {
    gap: 20px; /* reduce gap between images */
  }
}

@media (max-width: 480px) {
  .image-container {
    max-width: 100%;
  }

  .caption {
    font-size: 0.8rem;
  }
}


/* main content begins here */
.content {
  width: 60%;
  margin: 0 auto;
}

section {
  margin-bottom: 1rem;
}

section h2 {
  font-size: 1.5rem;
  color: #2c3e50;
}



.section-box {
  padding: 0rem;
  border-radius: 8px;
  background-color: #fff;
  margin-left: 2%;
  text-align: justify;
}

.overview {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 10px;
  color: #333;
  /* box-shadow: 0 0 12px rgba(0, 0, 0, 0.05); */
  padding: 2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font: 20px;
  margin-top: 3rem;
}

.overview h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #2600ff;
}

.features {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 10px;
  color: #333;
  /* box-shadow: 0 0 12px rgba(0, 0, 0, 0.05); */
  padding: 2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-top: 2rem;
}

.features h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #2600ff;
}

section p {
  font-size: 1rem;
  line-height: 1.5;
}

code {
  background-color: #f4f4f4;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}


.cta-visual {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.cta-grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.cta-card {
  flex: 1 1 250px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: transform 0.3s;
  /* border-left: 6px solid #3498db; */
}

.cta-card:hover {
  transform: translateY(-4px);
}

.cta-card h4 {
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
  color: #2c3e50;
}

.cta-card p {
  margin: 0;
  font-size: 0.95rem;
  color: #555;
}


.optional-tag {
  font-size: 0.75rem;
  background-color: #f1c40f;
  color: black;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  margin-left: 6px;
}


.agent-visual {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.agent-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.agent-card {
  flex: 1 1 280px;
  background-color: #fff;
  /* border-left: 6px solid #3498db; */
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s;
  margin-top: 1%;
}

.agent-card h4 {
  margin-top: 0;
  color: #7dafe1;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: 50%;
}

.card-link-icon {
  margin-left: 8px;
  font-size: 1.1rem;
  text-decoration: none;
  color: #3498db;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.2s;
}

.card-link-icon:hover {
  color: #1d6fa5;
}

.agent-card ul,
.agent-card ol {
  padding-left: 1.2rem;
  margin: 0;
}

.agent-card li {
  margin-bottom: 0.4rem;
  font-size: 0.95rem;
  color: #555;
}

/* getting started */
.getting-started {
  padding: 2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}

.getting-started h2 {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.heading-toggle {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between; 
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle-btn img {
  width: 20px;
  height: 20px;
}

.step {
  margin-bottom: 2rem;
}

.step h4 {
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 0.5rem;
}

.code-block {
  position: relative;
  background: #f5f5f5;
  /* border-left: 5px solid #007BFF; */
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
  font-family: 'Courier New', monospace;
  margin-top: 0.5rem;
}

.code-block code {
  font-size: 0.95rem;
  color: #111;
  white-space: pre-line;
}

.copy-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  /* background: #f5f2f0; */
  background: transparent;
  /* color: #fff;  */
  border: none;
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;
  border-radius: 5px;
  cursor: pointer;
  /* transition: background 0.3s ease; */
}

.copy-btn:hover {
  background: #0056b3;
}

a {
  color: #007BFF;
  text-decoration: underline;
}

/* prerequisite table */

.prerequisites {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 10px;
  color: #333;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.prerequisites h2 {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.table-container {
  overflow-x: auto;
  margin-bottom: 1.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fdfdfd;
  font-size: 0.95rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
  vertical-align: top;
}

th {
  background-color: #f3f3f3;
  color: #333;
  font-weight: bold;
}

a {
  color: #0078D7;
  text-decoration: underline;
}

.optional-tag {
  color: #999;
  font-size: 0.85em;
  font-style: italic;
}

.note-box {
  background: #fff3cd;
  /* border-left: 5px solid #ffc107; */
  padding: 1rem 1.2rem;
  border-radius: 5px;
  color: #856404;
  font-size: 0.95rem;
  line-height: 1.6;
}

/* Usage */

.usage-section {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 10px;
  color: #333;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.usage-section h2 {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.code-wrapper {
  position: relative;
  border-radius: 8px;
  margin-bottom: 2rem;
  box-shadow: 0 0 0 1px #e1e4e8;
}

.copy-btn img {
  height: 16px;
  width: 16px;
  vertical-align: middle;
  opacity: 0.7;
}

.copy-btn:hover {
  background: #f0f0f0;
}

.copy-btn:active img {
  opacity: 1;
}

.use-cases {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.2rem;
}

.use-cases h2 {
  font-size: 1.5rem;
  padding: 0.5rem;
}

/* adding video agent prerequisites for videoAgent */
.required {
  border: #0056b3;
  font-weight: bold;
  font-family: cursive;
  font-size: medium;
  border-radius: 10px;
}

.note {
  margin-top: 15px;
  border-left: 4px solid #24ff0b;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: rgb(190, 222, 250);

  /* background: #b6deff; */
  border-left: 5px solid #ffbf00;
  font-family: cursive;
}

.note button:hover{
  color: #009124;
  cursor: pointer;
  transform: scale(1.1);
}


.faq h2{
  margin-top: 2rem;
  border-bottom: 2px solid #2600ff;
}

.license h2{
  border-bottom: 2px solid #2600ff;
}

.nextbutton {
  display: flex;
  cursor: pointer;
}

.nextButton {
  margin-top: 0;
  color: #7dafe1;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nextButton img {
  width: 20px; 
  height: 20px;
  cursor: pointer;
}
.nextButton img:hover {
  transform: scale(1.3);
}

.faq {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 10px;
  color: #333;
  padding: 2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.faq h2 {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.license {
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 10px;
  color: #333;
  padding: 2rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.license h2 {
  font-size: 1.5rem;
  padding: 0.5rem;
}