autogen==0.8.4
autogen_agentchat==0.4.9.3
autogen_core==0.4.9.3
autogen_ext==0.4.9.3
fastapi==0.115.12
uvicorn==0.32.1
azure-identity==1.19.0
azure-core == 1.32.0
azure-storage-blob == 12.24.0
azure-search-documents==11.5.2
azure-cognitiveservices-speech==1.41.1
azure-monitor-opentelemetry-exporter==1.0.0b33
azure-eventhub==5.14.0
tqdm==4.67.1
openai==1.72.0
torch==2.5.1
torchvision==0.20.1
modelscope==1.24.1
ultralytics==8.3.38
ultralytics-thop==2.0.12
urllib3==2.2.3
addict==2.4.0
oss2==2.19.1
datasets==3.0.1
transformers==4.46.3
scikit-learn==1.6.1
aiofiles==24.1.0
python-multipart==0.0.20
loguru==0.7.3
--editable . --config-settings editable_mode=compat